<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!--add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-FairField-20191125084937.mdf;Initial Catalog=aspnet-FairField-20191125084937;Integrated Security=True"
      providerName="System.Data.SqlClient" /-->
    <add name="koalaCon" connectionString="Database=KoalaDb;Server=localhost;uid=nad;pwd=123;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--add name="koalaCon" connectionString="Database=KoalaDb;Server=52.206.59.94;uid=koalauser;pwd=koala1$;Integrated Security=True" providerName="System.Data.SqlClient" /-->
  </connectionStrings>
</configuration>